{% include 'Generator/base.html' %}

<title>{% block Title %} Информация о сайте {% endblock %}</title>


{% block content %}
    <h1>Страница содержит краткую информацию о функционале сайта и его создателе.</h1>
    <h2>Этот сайт- простой генератор паролей, он может придумать пароль за вас! Позволяет выбрать длину пароля
        до 22 символов включительно. По желанию вы можете добавить к базовому нижнему регистру прописные буквы,
        числа, спецсимволы (! @ # $% ^ & * () _ + | <>?., '"~). Внимание! Созданные пароли нигде не сохраняются.
        Это безопасно.
    </h2>
    <h3>Это учебный проект начинающего программиста Виктора, который живет в России. Пожелаем ему удачи!</h3>
    <a href="{% url 'home' %}"> На главную</a>
{% endblock %}
